<config>
	<sections>
		<catalog>
			<groups>
				<placeholder_category translate="label">
					<label>Category Image Placeholders</label>
                    <sort_order>3000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <placeholder_category>
                            <label>Placeholder path</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Upload the image in this folder <b>MAGENTO_ROOT_PATH</b>/media/wysiwyg/. Enter the file name with extension.]]></comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </placeholder_category>
                    </fields>
				</placeholder_category>
			</groups>
		</catalog>
	</sections>
</config>
